a[href="./preview.html"] {
	position: sticky;
	top: var(--size-large-gap);
	align-self: flex-start;
}

main {
	width: 100%;
	max-width: 100vmin;
	margin-inline: auto;
}

div#schedule-panel {
	width: 100%;
	padding: var(--size-serpator);
	gap: var(--size-serpator);
}

label[for="upload-schedule"] {
	width: 100%;
	overflow-x: hidden;
	border-top-left-radius: var(--size-gap);
	border-bottom-left-radius: var(--size-gap);
}

div#schedule-panel:not([data-connected]) label[for="upload-schedule"] {
	border-radius: var(--size-gap) !important;
}

span#schedule-information {
	white-space: nowrap;
	overflow-x: hidden;
}

div#schedule-panel > *:last-child {
	border-top-right-radius: var(--size-gap);
	border-bottom-right-radius: var(--size-gap);
}

div#schedule-panel[data-connected] > *:not(button#remove-schedule) {
	background-color: var(--color-highlight);
}

div#schedule-panel:not([data-connected]) > *:not(label[for="upload-schedule"]) {
	display: none !important;
}

button#reset-settings {
	width: fit-content;
	justify-self: center;
}