body {
	position: fixed;
	inset: 0;
	place-items: center;
	display: grid;
	gap: var(--size-large-gap);
	padding: var(--size-large-gap);
}

@media screen and (orientation: landscape) {
	body {
		grid-template:
			'panel-1	settings-button	panel-2' max-content
			'panel-1	now-button		panel-2' 1fr
			'panel-1	before-button	panel-2' max-content
			'panel-1	after-button	panel-2' max-content
			/ 1fr max-content 1fr;
	}
}

@media screen and (orientation: portrait) {
	body {
		grid-template:
			'panel-1		panel-1			panel-1			panel-1' 1fr
			'before-button	after-button	now-button		settings-button' max-content
			'panel-2		panel-2			panel-2			panel-2' 1fr
			/ max-content max-content 1fr max-content;
	}
}

body * {
	transition: 0.2s;
}

div#panel-1 {
	grid-area: panel-1;
}

div#panel-2 {
	grid-area: panel-2;
}

div:has(div.-container) {
	width: 100%;
	height: 100%;
	text-align: center;
}

div:has(div.-container).-now {
	outline-style: solid;
	outline-color: var(--color-highlight);
}

div.-container {
	--filled-ratio: 0%;
	background-image: linear-gradient(90deg, var(--color-highlight) var(--filled-ratio), var(--color-text) 0%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

button#before {
	grid-area: before-button;
}

button#after {
	grid-area: after-button;
}

button#now {
	grid-area: now-button;
}

a[role="button"][href="./settings.html"] {
	grid-area: settings-button;
}