a[href="./preview.html"] {
	position: sticky;
	top: var(--size-large-gap);
	align-self: flex-start;
}

main {
	width: 100%;
	max-width: 100vmin;
	margin-inline: auto;
}

div#schedule-panel {
	display: grid;
	grid-template-columns: 1fr;
	padding: var(--size-serpator);
	gap: var(--size-serpator);
}

div#schedule-panel[data-connected] {
	grid-template-columns: 1fr max-content;
	background-color: var(--color-highlight);
}

label[for="upload-schedule"] {
	overflow-x: hidden;
}

div#schedule-panel:not([data-connected]) label[for="upload-schedule"] {
	border-radius: var(--size-gap) !important;
}

span#schedule-information {
	white-space: nowrap;
	overflow-x: hidden;
}

div#schedule-panel:not([data-connected]) button#remove-schedule {
	display: none !important;
}

button#reset-settings {
	width: fit-content;
	justify-self: center;
}